@import url('https://fonts.googleapis.com/css?family=Montserrat');

//variáveis pré-definidas
//fonte
$font-default: 'Montserrat', sans-serif;

//cores do sistema
$color-primary: #F57777;
$color-primary-alt: #f24747;
$color-secondary: #ffffff;
$color-secondary-alt: #cdd1d4;
$color-success: #28a745;
$color-danger: #dc3545;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-light: #f8f9fa;
$color-dark: #4a4d54;
$color-medium: #868e96;
$color-blue: #53b4ef;
$color-cyan: #45c5c5;
$color-light-green: #b2dd59;
$color-lemon: #d0bd3f;
$color-dark-blue: #0056b3;

$nav-shadow: rgba(0, 0, 0, 0.25);
$card-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.10), 0 32px 32px 0 rgba(0, 0, 0, 0.10), 0 16px 16px 0 rgba(0, 0, 0, 0.10);
