<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col">
    <h1 class="welcome">teste 1</h1>
    <p class="text-center">teste</p>
    <p class="text-right">teste</p>
    <p class="text-left">teste</p>
  </div>
  <div class="col">
    <h1 class="welcome">teste 2</h1>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vivamus at lectus lectus. Ut nulla arcu, iaculis at facilisis eu, 
        dignissim vel lectus. Pellentesque accumsan viverra nisi.</p>
  </div>
  <div class="col">
    <h1 class="welcome">teste 3</h1>
    <ul>
      <li><a href="">teste 1</a></li>
      <li><a href="">teste 2</a></li>
      <li><a href="">teste 3</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1 class="welcome">teste 4</h1>
    <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Vivamus at lectus lectus. Ut nulla arcu, iaculis at facilisis eu, dignissim 
      vel lectus. Pellentesque accumsan viverra nisi. Sed nisi nibh, consequat at 
      neque ac, iaculis tincidunt est. Ut laoreet auctor elit, eget tincidunt est 
      tincidunt sit amet. Morbi ultrices auctor auctor. Cras semper ultricies consequat. 
      Nam laoreet urna elit, a pellentesque justo fermentum vitae. Praesent pharetra 
      purus vel diam bibendum dignissim.</p>
  </div>
  <div class="col">
    <h1 class="welcome">teste 3</h1>
    <ul>
      <li><a href="">teste 1</a></li>
      <li><a href="">teste 2</a></li>
      <li><a href="">teste 3</a></li>
    </ul>
  </div>
  <div class="col">
    <h1 class="welcome">teste 3</h1>
    <ul>
      <li><a href="">teste 1</a></li>
      <li><a href="">teste 2</a></li>
      <li><a href="">teste 3</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
