<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-image left col">
    <img src="../assets/logo.png" />
  </div>
  <div class="user-menu right col">
    <button type="button" class="btn btn-secondary">Painel</button>
  </div>
</nav>
<div class="header">
  <div class="breadcr">
    <small>inicial | {{title}}</small>
  </div>
  <img class="header-img" src="../assets/empresa-bg.jpg" />
  <div class="row header-title text-center">
    <div class="col">
      <h1 class="page-title">{{pageTitle}}</h1>
      <h4 class="page-subtitle">{{pageSubtitle}}</h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="guide-buttons">
  <a href="" class="btn-tab1">
    <span>AJUDA</span>
  </a>
  <a href="" class="btn-tab2">
    <span>COMO NAVEGAR</span>
  </a>
</div>
<div class="chatbot-tab">
  <img src="../assets/icon.png">
  <span>Dúvidas? Posso ajudar?</span>
</div>
