<div class="row">
  <div class="col">
    <h1 class="welcome">Alinhamento de itens</h1>
    <p class="text-center">teste</p>
    <p class="text-right">teste</p>
    <p class="text-left">teste</p>
  </div>
  <div class="col">
    <h1 class="welcome">Botões</h1>
    <button type="button" class="btn btn-primary">primary</button>
    <button type="button" class="btn btn-secondary">secondary</button>
    <button type="button" class="btn btn-success">success</button>
    <button type="button" class="btn btn-danger">danger</button>
    <button type="button" class="btn btn-warning">warning</button>
    <button type="button" class="btn btn-info">info</button>
  </div>
  <div class="col">
    <h1 class="welcome">Listagem</h1>
    <ul class="list">
        <li class="item"><a href="">teste 1</a></li>
        <li class="item"><a href="">teste 2</a></li>
        <li class="item"><a href="">teste 3</a></li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1 class="welcome">Tabela</h1>
    <table>
      <thead>
        <tr>
          <th>teste 1</th>
          <th>teste 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>conteudo 1</td>
          <td>conteudo 2</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">Footer da tabela</td>
        </tr>
      </tfoot>  
    </table>
  </div>
  <div class="col">
    <h1 class="welcome">Grid</h1>
    <div class="row center demo">
      Linha 1
    </div>
    <div class="row center">
      <div class="col demo">
        Coluna 1
      </div>
      <div class="col demo">
        Coluna 2
      </div>
    </div>
    <div class="row">
      <div class="col demo">
        Coluna 1
      </div>
      <div class="col demo">
        Coluna 2
      </div>
      <div class="col demo">
        Coluna 3
      </div>
    </div>
    <div class="row center demo">
      Linha 2
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1 class="welcome">Alinhamento de texto</h1>
  </div>
</div>
<div class="row">
  <div class="col">
      <h4 class="welcome">Justificado</h4>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Vivamus at lectus lectus. Ut nulla arcu, iaculis at facilisis eu, 
          dignissim vel lectus. Pellentesque accumsan viverra nisi.</p>
  </div>
  <div class="col">
      <h4 class="welcome">Centralizado</h4>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Vivamus at lectus lectus. Ut nulla arcu, iaculis at facilisis eu, 
          dignissim vel lectus. Pellentesque accumsan viverra nisi.</p>
  </div>
  <div class="col">
      <h4 class="welcome">Esquerda</h4>
      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Vivamus at lectus lectus. Ut nulla arcu, iaculis at facilisis eu, 
          dignissim vel lectus. Pellentesque accumsan viverra nisi.</p>
  </div>
  <div class="col">
      <h4 class="welcome">Direita</h4>
      <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Vivamus at lectus lectus. Ut nulla arcu, iaculis at facilisis eu, 
          dignissim vel lectus. Pellentesque accumsan viverra nisi.</p>
  </div>
</div>
<div class="row">
  <div class="col">
      <h1 class="welcome">Cards</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">titulo card</h4>
      </div>
      <div class="card-body">
        <p>conteúdo card</p>
      </div>
      <div class="card-footer">
        <p>footer card</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs0h_LxoBObeL2oGKH8Zc9j3euKKL1ddctny2IC0ILbjpZNfWg" class="card-image" />
      </div>
      <div class="card-body">
        <h4 class="welcome">Titulo</h4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Vivamus at lectus lectus. Ut nulla arcu, iaculis at facilisis eu, 
            dignissim vel lectus. Pellentesque accumsan viverra nisi.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">titulo card</h4>
      </div>
      <div class="card-body">
        <p>conteúdo card</p>
      </div>
      <div class="card-footer text-center">
        <button type="button" class="btn btn-secondary">button</button>
      </div>
    </div>
  </div>
</div>
