<div class="row">
  <div class="col">
    <div class="card product-card">
      <div class="card-header">
        <img src="../../assets/breve.svg" class="product-flag" />
        <img src="../../assets/prod1.jpg" class="card-image" />
      </div>
      <div class="card-body">
        <h4 class="welcome text-center">Empréstimos Consignados</h4>
        <p class="text-center">Veja mais detalhes sobre Empréstimos Consignados</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card product-card">
      <div class="card-header">
          <img src="../../assets/flag_verde.png" class="product-flag" />
        <img src="../../assets/prod2.jpg" class="card-image" />
      </div>
      <div class="card-body">
        <h4 class="welcome text-center">Planos de Saúde</h4>
        <p class="text-center">Veja mais detalhes sobre Planos de Saúde</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card product-card">
      <div class="card-header">
          <img src="../../assets/flag_amarela.png" class="product-flag" />
        <img src="../../assets/prod4.jpg" class="card-image" />
      </div>
      <div class="card-body">
        <h4 class="welcome text-center">Seguros</h4>
        <p class="text-center">Veja mais detalhes sobre Seguros</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card product-card">
      <div class="card-header">
          <img src="../../assets/flag_vermelha.png" class="product-flag" />
        <img src="../../assets/prod3.jpg" class="card-image" />
      </div>
      <div class="card-body">
        <h4 class="welcome text-center">Turismo e Lazer</h4>
        <p class="text-center">Veja mais detalhes sobre Turismo e Lazer</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col">
      <div class="card product-card">
        <div class="card-header">
          <img src="../../assets/breve.svg" class="product-flag" />
          <img src="../../assets/prod1.jpg" class="card-image" />
        </div>
        <div class="card-body">
          <h4 class="welcome text-center">Empréstimos Consignados</h4>
          <p class="text-center">Veja mais detalhes sobre Empréstimos Consignados</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card product-card">
        <div class="card-header">
            <img src="../../assets/flag_verde.png" class="product-flag" />
          <img src="../../assets/prod2.jpg" class="card-image" />
        </div>
        <div class="card-body">
          <h4 class="welcome text-center">Planos de Saúde</h4>
          <p class="text-center">Veja mais detalhes sobre Planos de Saúde</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card product-card">
        <div class="card-header">
            <img src="../../assets/flag_amarela.png" class="product-flag" />
          <img src="../../assets/prod4.jpg" class="card-image" />
        </div>
        <div class="card-body">
          <h4 class="welcome text-center">Seguros</h4>
          <p class="text-center">Veja mais detalhes sobre Seguros</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card product-card">
        <div class="card-header">
            <img src="../../assets/flag_vermelha.png" class="product-flag" />
          <img src="../../assets/prod3.jpg" class="card-image" />
        </div>
        <div class="card-body">
          <h4 class="welcome text-center">Turismo e Lazer</h4>
          <p class="text-center">Veja mais detalhes sobre Turismo e Lazer</p>
        </div>
      </div>
    </div>
  </div>
  